BACKUP/
bak/

config/ddns.conf
config/monitoring.conf

puppet/environments/
puppet/home/
puppet/manifests/00-environment.pp

.env
secrets.conf
05-secrets.pp
*.code-workspace

docker/*/docker-compose.yml
docker/*/env-parts/*.env
!docker/*/env-parts/*.example.env
docker/*/compose-parts/*.yml
!docker/*/compose-parts/*.prod.yml
!docker/*/compose-parts/*.production.yml