version: '3.2'

services:
  proxy:
    image: "jekotia/caddy"
    container_name: proxy
    restart: "always"
    command: "-log stdout -agree -email contact@jekotia.net"
    ports:
    - "80:80"
    - "443:443"
    networks:
    - "proxy"
    volumes:
    - "/var/run/docker.sock:/var/run/docker.sock"
    - "/srv/data/caddy:/caddy"
#    - "${_CADDY_DATA}:/caddy"

  portainer:
    image: "portainer/portainer"
    container_name: "portainer"
    restart: "always"
    command: -H unix:///var/run/docker.sock
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock
    - "${_PORTAINER_DATA}/portainer:/data"
    networks:
    - "proxy"
    labels:
      com.centurylinklabs.watchtower.enable: "false"
      caddy_1.address: mercury2.jekotia.net/docker/
      caddy_1.targetport: "9000"
      caddy_1.proxy.transparent: ""

      caddy_2.address: mercury2.jekotia.net/docker/api/websocket/
      caddy_2.targetport: "9000"
      caddy_2.proxy.transparent: ""
      caddy_2.proxy.websocket: ""

  watchtower:
    image: "v2tec/watchtower"
    container_name: "watchtower"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
#      - "/root/.docker/config.json:/config.json"
#    command: --interval 30

networks:
  proxy:
